body {
    height: 100vh;
    background-color: rgb(17 24 39);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.container {
    display: flex;
}

.controls {
    width: 256px;
    padding: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.controls .text {
    font-size: 24px;
    font-weight: 600;
}

.grid {
    width: 640px;
    padding: 64px;
    display: flex;
    flex-wrap: wrap;
}

.grid,
.controls {
    background-color: rgb(31 41 55);
    border-radius: 20px;
    box-sizing: border-box;
    height: 640px;
}

.logo {
    font-size: 48px;
    font-weight: 800;
    margin: 32px;
}

.button {
    color: white;
    font-size: 24px;
    font-weight: 500;
    background-color: rgb(31 41 55);
    border-radius: 10px;
    border-color: white;
}

.colors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

input[type='color'] {
    appearance: none;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
    padding: 0;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: 2px solid black;
    border-radius: 5px;
}

.color {
    height: 24px;
    width: 24px;
    border-radius: 5px;
    border: 2px solid black;
}

.color.selected {
    border-color: white;
}

.pixel {
    flex: 0 0 auto;
    background-color: white;
}
